@import "/prism-dark.css";
@import "/prism-light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;

    @apply dark:bg-gray-900 dark:text-gray-100;
    /*display: flex;*/
}

#root {
}

#root > #loading {
    @apply h-screen;
}

main {
    width: 100%;
}

/* Turns off text selection on iOS app */
@supports (-webkit-touch-callout: none) {
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
    }

    /*.h-screen {*/
    /*    height: -webkit-fill-available;*/
    /*}*/
    input {
        -webkit-touch-callout: default;
        -webkit-user-select: auto;
    }
}

.hide-scrollbar {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.overlay {
    @apply fixed top-0 left-0 right-0 bottom-0;
}

.btn {
    @apply justify-center py-2 px-4 border border-transparent rounded-md font-medium cursor-pointer;
}

.btn-sm {
    @apply justify-center py-1 px-2 border border-transparent rounded-md;
}

.btn-primary {
    @apply bg-indigo-600 hover:bg-indigo-700 text-white;
}

.btn-info {
    @apply bg-yellow-600 hover:bg-yellow-700 text-gray-900;
}

.btn-info-light {
    @apply bg-yellow-400 hover:bg-yellow-500 text-gray-900;
}

.btn-primary-light {
    @apply bg-indigo-300 hover:bg-indigo-400 text-gray-900;
}

.h-_5 {
    height: .125rem;
}

.btn-danger {
    @apply bg-red-700 hover:bg-red-800 text-white;
}

.btn-pressed {
    box-shadow: inset 0 4px 8px 0 rgb(0 0 0 / 0.2);
}

.text-bold {
    @apply font-bold;
}

.text-semibold {
    @apply font-semibold;
}

.link {
    @apply text-blue-600 hover:text-blue-700 dark:text-blue-400 hover:dark:text-blue-500;
}

.code {
    @apply font-mono bg-gray-200 dark:bg-gray-800 rounded-lg p-1;
}

.well {
    padding: 0.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 1em;
}


pre[class*="language-"] {
    overflow: auto;
}
