/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+typescript&plugins=line-highlight+line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

.dark code[class*="language-"],
.dark pre[class*="language-"] {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

}

/* Code blocks */
.dark pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

.dark :not(pre) > code[class*="language-"],
.dark pre[class*="language-"] {
    background: #2d2d2d;
}

/* Inline code */
.dark :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.dark .token.comment,
.dark .token.block-comment,
.dark .token.prolog,
.dark .token.doctype,
.dark .token.cdata {
    color: #999;
}

.dark .token.punctuation {
    color: #ccc;
}

.dark .token.tag,
.dark .token.attr-name,
.dark .token.namespace,
.dark .token.deleted {
    color: #e2777a;
}

.dark .token.function-name {
    color: #6196cc;
}

.dark .token.boolean,
.dark .token.number,
.dark .token.function {
    color: #f08d49;
}

.dark .token.property,
.dark .token.class-name,
.dark .token.constant,
.dark .token.symbol {
    color: #f8c555;
}

.dark .token.selector,
.dark .token.important,
.dark .token.atrule,
.dark .token.keyword,
.dark .token.builtin {
    color: #cc99cd;
}

.dark .token.string,
.dark .token.char,
.dark .token.attr-value,
.dark .token.regex,
.dark .token.variable {
    color: #7ec699;
}

.dark .token.operator,
.dark .token.entity,
.dark .token.url {
    color: #67cdcc;
}

.dark .token.important,
.dark .token.bold {
    font-weight: bold;
}

.dark .token.italic {
    font-style: italic;
}

.dark .token.entity {
    cursor: help;
}

.dark .token.inserted {
    color: green;
}

.dark pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.dark .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em; /* Same as .prism’s padding-top */

    background: hsla(24, 20%, 50%, .08);
    background: linear-gradient(to right, hsla(24, 20%, 50%, .1) 70%, hsla(24, 20%, 50%, 0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

@media print {
    .line-highlight {
        /*
         * This will prevent browsers from replacing the background color with white.
         * It's necessary because the element is layered on top of the displayed code.
         */
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.dark .line-highlight:before,
.dark .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, .4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

.dark .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

.dark .line-numbers .line-highlight:before,
.dark .line-numbers .line-highlight:after {
    content: none;
}

.dark pre[id].linkable-line-numbers span.line-numbers-rows {
    pointer-events: all;
}

.dark pre[id].linkable-line-numbers span.line-numbers-rows > span:before {
    cursor: pointer;
}

.dark pre[id].linkable-line-numbers span.line-numbers-rows > span:hover:before {
    background-color: rgba(128, 128, 128, .2);
}

.dark pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

.dark pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.dark .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.dark .line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}

.dark .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

